{% include "store/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <style>
    body {
      background-color: gray;
    }
  </style>
  <body>
  <br>
  <div class="container bg-white shadow-md p-5 form-layout">
    <h3>Create your account</h3>
    <hr>
    <h5>Purchase your favourite items today!</h5>
    <br>
    <form method="post" autocomplete="off">
      {% csrf_token %}

      {{ form.username|as_crispy_field }}
      <br>
      <br>
      {{ form.email|as_crispy_field }}
      <br>
      <br>
      {{ form.password1|as_crispy_field }}
      <br>
      {{ form.password2|as_crispy_field }}
      <br>
      <button type="submit"
              class="btn btn-primary navbar-btn text-white w-100 p-2"
      >&nbsp; Create account
      </button>
      <br>
      <br>
      <div class="text-center">
        <a href="{% url "my-login" %}">Already have an account?</a>
      </div>

    </form>

  </div>
  <br>
  <br>
  </body>
{% endblock %}
